@page
@model TaxiTour.Pages.Taxis.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Taxi</h4>
<hr />
<div class="row">
    <div class="col-md-9 font-weight-bold">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Taxi.Id" />
            <div class="form-group">
                <label asp-for="Taxi.CarName" class="control-label"></label>
                <input asp-for="Taxi.CarName" class="form-control" />
                <span asp-validation-for="Taxi.CarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxi.From" class="control-label"></label>
                <input asp-for="Taxi.From" class="form-control" />
                <span asp-validation-for="Taxi.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxi.To" class="control-label"></label>
                <input asp-for="Taxi.To" class="form-control" />
                <span asp-validation-for="Taxi.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxi.Price" class="control-label"></label>
                <input asp-for="Taxi.Price" class="form-control" />
                <span asp-validation-for="Taxi.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" type="button" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
